.width_flud {
    width: 100%;
}
.height_flud {
    height: 100%;
}
.width_half {
    width: 50%;
}
.float_left {
    float: left;
    &:after {
        clear: both;
    }
}
.inline-block {
    display: inline-block;
}
.text-left {
    text-align: left;
}
tbody {
    text-align: left;
}
.margin-bottom {
    margin-bottom: 15px;
}
.margin-top {
    margin-top: 15px;
}
.margin-left {
    margin-left: 15px;
}
.margin-right {
    margin-right: 15px;
}
.padding-right {
  padding-right: 15px;
}
.img-uploader {
    padding: 15px;
    & > .img-select {
        width: 100%;
        height: 100%;
        background: #EEEEEE;
        cursor: pointer;
        max-width: 317px;
        max-height: 88px;
    }
    .hidden-uploader {
        width: 100%;
        height: 100%;
        position:absolute;
        right:0;
        top:0;
        opacity: 0;
        filter:alpha(opacity=0);
        cursor:pointer;
    }
}