.width_flud {
    width: 100%;
}
.inline-block {
    display: inline-block;
}
.text-left {
    text-align: left;
}
tbody {
    text-align: left;
}
.margin-bottom {
    margin-bottom: 15px;
}
.margin-top {
    margin-top: 15px;
}
.margin-left {
    margin-left: 15px;
}
.margin-right {
    margin-right: 15px;
}
.padding-right {
  padding-right: 15px;
}