@font-face {
  font-family: 'iconfont-admin';  /* project id 316598 */
  src: url('//at.alicdn.com/t/font_mndbi7enmkuik9.eot');
  src: url('//at.alicdn.com/t/font_mndbi7enmkuik9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_mndbi7enmkuik9.woff') format('woff'),
  url('//at.alicdn.com/t/font_mndbi7enmkuik9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_mndbi7enmkuik9.svg#iconfont-admin') format('svg');
}
.iconfont-admin {
  font-family:"iconfont-admin" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-navbar {
  
   &.arrow {
     &:before {
       font-family:"iconfont-admin" !important;
       font-size:18px;
       font-style:normal;
       font-weight: bolder;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       content: "\e610";
       position: absolute;
       right: 1rem;
       transition: transform 0.2s linear;
     } 
     &.dirty:before {
       transform: rotate(180deg)
     }
   }
}
.iconfont-node {
  font-family:"iconfont-admin" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-message:before { content: "\e61e"; }

.icon-add:before { content: "\e60a"; }
.icon-add-node:before { content: '\e6e0';}
.icon-close:before { content: "\e60b"; }

.icon-delete:before { content: "\e60c"; }
.icon-edit:before { content: "\e6f5"; }

// .dirty:before { 
//     content: "\e60e";
//     position: absolute;
//     right: 1rem;
// }

// .dry:before {
//     content: "\e610";
//     position: absolute;
//     right: 1rem;
// }