// @font-face {
//   font-family: 'iconfont-admin';  /* project id 316598 */
//   src: url('//at.alicdn.com/t/font_mndbi7enmkuik9.eot');
//   src: url('//at.alicdn.com/t/font_mndbi7enmkuik9.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_mndbi7enmkuik9.woff') format('woff'),
//   url('//at.alicdn.com/t/font_mndbi7enmkuik9.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_mndbi7enmkuik9.svg#iconfont-admin') format('svg');
// }

@font-face {
  font-family: 'iconfont-admin';  /* project id 316598 */
  src: url('/static/fonts/iconfont.eot');
  src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/iconfont.woff') format('woff'),
  url('/static/fonts/iconfont.ttf') format('truetype'),
  url('/static/fonts/iconfont.svg#iconfont-admin') format('svg');
}
.iconfont-admin {
  font-family:"iconfont-admin" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-navbar {
  
   &.arrow {
     &:before {
       font-family:"iconfont-admin" !important;
       font-size:18px;
       font-style:normal;
       font-weight: bolder;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       content: "\e610";
       position: absolute;
       margin-top: 8px;
       right: 1rem;
       transition: transform 0.2s linear;
     } 
     &.dirty {
       &:before{
        transform: rotate(180deg);
        margin-top: 5px;
       }
     }
     &:hover:before {
       transform: rotate(360deg);
     }
   }
}
.iconfont-node {
  font-family:"iconfont-admin" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-message:before { content: "\e61e"; }

.icon-add:before { content: "\e60a"; }
.icon-add-node:before { content: '\e6e0';}
.icon-close:before { content: "\e60b"; }

.icon-delete:before { content: "\e60c"; }
.icon-edit:before { content: "\e6f5"; }

%men-icon {
    font-family: 'iconfont-admin' !important;
    font-size: 16px;
    margin-right: 10px;
}
.privilege:before {
    @extend %men-icon;
    content: '\e642';
}

.users:before {
    @extend %men-icon;
    content: '\e601';
}


.schools:before {
    @extend %men-icon;
    content: '\e667';
}

.courses:before {
    @extend %men-icon;
    content: '\e637';
}

.resources:before {
    @extend %men-icon;
    content: '\e699';
}

.admin:before {
    @extend %men-icon;
    content: '\e654';
}
.resources:before {
    @extend %men-icon;
    content: '\e699';
}

.usersManager:before {
    @extend %men-icon;
    content: '\e61f';
}

.schoolsManager:before {
    @extend %men-icon;
    content: '\e604';
}

.coursesManager:before {
    @extend %men-icon;
    content: '\e637';
}

.courseResources:before {
    @extend %men-icon;
    content: '\e637';
}


.TutorsResources:before {
    @extend %men-icon;
    content: '\e61b';
}

.courseTypes:before {
    @extend %men-icon;
    content: '\e63f';
}
